body{
    margin: 0 auto;
    box-sizing: border-box;
    font-family: roboto;
    color: #4a4a4a;
}

/* NAV */

.nav{
    background-color: #ffffff;
    overflow: hidden;
}

.nav-container{
    padding: 2% 1%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    width: 100%;
    border-bottom: 1px solid grey;
}

a{
    text-decoration: none;
    color: #4a4a4a;
}

.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.colmar-color{
    color: grey;
    font-weight: 400;
    letter-spacing: 0.8px;
    padding-left: 3px;
}

.nav-logo{
    margin: 0;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
    font-size: 22px;
    padding-right: 50px;
    margin: 0;
}

a:hover{
    cursor: pointer;
    color: green;
}


@media(max-width: 900px){
li{
    font-size: 18px;
    padding-left: 16px;
}

.nav-logo{
    font-size: 20px;
}
}

@media(max-width: 375px){
   li{
       font-size: 16px;
   }

    .nav-logo{
        display: none;
    }
  
    .nav-container{
        border-bottom: none;
        padding-top: 2%;
    }


}


/* BANNER */

.banner{
    background-color: gainsboro;

}

.banner-container{
    padding: 32px 24px;
    display: flex;
    flex-direction: row;
    margin-top:95px;
}


.banner-image{
    width: 100%;
}

.banner-image-box{
 width: 60%;
 padding-right: 24px;
}

.banner-text-box{
    width: 40%;
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-text-title{
font-size: 65px;
margin-bottom: 0px;
line-height: 0.9;

}

.banner-text-info{
 font-size: 35px;
 margin-top: 40px;
 line-height: 1;
}

.banner-button{
padding: 16px 0px;
font-size: 30px;
color: #ffffff;
background-color: #2a3439;
width: 80%;
}

.banner-button:hover{
    cursor: pointer;
    background-color: green;
}

@media(max-width: 1330px){
    
    .banner-container{
        flex-direction: column;
        padding: 0;
        margin-top: 50px;
    }
    .banner-image-box{
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .banner-text-box{
        width: 100%;
        padding: 32px 20px;
        margin: 0;
    }
    .banner-text-title, .banner-text-info{
      margin: 0;
    }


    
    .banner-text-info{
        padding: 32px 0 24px 0;
        font-size: 30px;
    }


    .banner-button{
        width: 93.5%;
        
    }

    
    

}




/* SECTION */

.first-section{
 background-color: #ffffff;
}

.first-section-container{
 padding: 32px 24px 32px 24px;
 display: flex;
}

.subsection-one, .video-section{
 width: 60%;
 margin-right: 24px;
}


.text-title{
font-size: 63px;
font-weight: 700;
margin: 0;
}

.text-info{
margin: 0;
font-size: 28px;
line-height: 1.1;
}

.text-info-person{
margin-bottom: 0px;
}

.title-div, .text-div{
  margin: 24px 0;
}

.subsection-two, .video-section-text{
 width: 40%;
display: flex;
flex-direction: column;
margin: 0;
}

.info-main-image{
 width: 100%;
  
}


.subsection-two-child{
display: flex;
flex-direction: row;
align-items: center;
}

.subsection-child{
width: 35%;
}

.subsection-child-text{
    width: 65%;

}

.child-text-title{
    font-size: 30px;
}

.child-text-content{
    font-size: 21px;
    
}

.child-text-link{
    text-decoration: none;
    color: blue;
    font-size: 18px;
}

.sub-child-image{
    width: 90%;
}

.border-one, .border-two, .border-three { 
 border: 1px solid gainsboro;
 padding-top: 16px;
 padding-bottom: 14px;
 padding-left: 16px;
 margin-top: 1px;
}

.border-three{
    background-color: gainsboro;
}


@media(min-width: 1024px){
    .sub-child-image-mobile{
        display: none;
    }
}
@media(max-width: 1024px){
    .subsection-one{
        display: none;
    }

    .subsection-two{
        width: 100%;
    }

    .subsection-two-child{
        flex-direction: column;
        align-items: stretch;
    }

    .subsection-child-image{
      width: 100%;
    }

    .subsection-child-text{
      width: 100%;
    }

    .sub-child-image-mobile{
        width: 100%;
    }

    .sub-child-image{
        display: none;
    }
     
    .border-one, .border-two, .border-three{
        padding: 16px;
        margin-top: 20px;
    }

    .banner-text-title{
     font-size: 30px;
    }

    .banner-text-info{
        font-size: 22px;
    }
}

/* CARDS */


.course{
    background-color: gainsboro;
}

.course-container{
    padding:32px 72px;
}

.course-title-text{
    font-size: 50px;
    text-align: center;
}

.course-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cards-one, .cards-two{
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}


.card{
 border: solid 1px #ffffff;
 margin-top: 32px;
 margin-right: 32px;
 background-color: #ffffff;
}
.card-img{
    width: 100%; 
  
    margin: 0;
}

.card-caption{
    padding: 16px 20px 24px 16px;
      
}



.caption-title-text{
    margin: 0;
    font-size: 35px;
}

.caption-subtitle-text{
    margin: 15px 0;
    font-size: 20px;
    color:#686868;
}

.caption-description-text{
    margin-bottom: 20px;
    font-size: 18px;
    letter-spacing: 0.6px;
    color: #808080;
}


.video{
    width: 100%;
}


.bottom-course{
    padding-top: 10px;
}

/* card media query */
@media(max-width: 1000px){

.course-container{
    padding: 0;
}

.course-title{
    padding-top: 20px;
}

.card{
    margin: 20px 0 0 0;
    
}
.card-caption{
  padding: 0;  
}

.course-cards{
 flex-direction: column;
 justify-content: center;

}

 
 .caption-sub-title, .caption-description, .card-image{
     display: none;
 }

 

 .cards-one, .cards-two{ 
    flex-direction: column;  
    
}

.caption-title-text{
    text-align: center;
}

.caption-title{
    padding: 10px 0px;
    background-color: grey;
    color: #ffffff;
}

}

/*video*/

@media(max-width: 1000px){
    
    .video-section{
        width: 100%;
        padding: 0;
        margin: 0;
    }


    .video-section-subtext{
        display: none;
    }
    .video-section-text{
        display: none;
    }

    .course-title{
        margin: 0;
    }
}




/* FOOTER */


.footer{
 border-top: 1px solid gainsboro;
 background-color: #ffffff;
}
.footer-container{
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
}